{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="kt-container-fixed">
        <!-- begin: projects -->
        <div class="flex flex-col items-stretch gap-5 lg:gap-7.5">
         <!-- begin: toolbar -->
         <div class="flex flex-wrap items-center gap-5 justify-between">
          <h3 class="text-lg text-mono font-semibold">
            {{count}} houses
          </h3>
          {% if request.user.is_superuser %}
            <button class="kt-btn kt-btn-primary" data-kt-modal-toggle="#bulkmodal">
            <i class="ki-filled ki-plus-circle mr-2">
            </i>
            New Home
            </button>
        {% endif %}
          <div class="flex items-center grow rounded-lg">
    <i class="ki-filled ki-magnifier text-muted-foreground text-xl">
     </i>
    <!-- <input 
        id="home_search"
        type="text" 
        placeholder="Search houses..." 
        class="bg-transparent border-none focus:ring-0 p-0 w-full text-sm font-medium text-gray-700" 
    /> -->
    <input class="kt-input kt-input-ghost" id="home_search" name="query" placeholder="Tap to start search" type="text" value="">
</div>
          <div class="kt-toggle-group" data-kt-tabs="true">
           <a class="kt-btn kt-btn-icon active" data-kt-tab-toggle="#projects_cards" href="#">
            <i class="ki-filled ki-category">
            </i>
           </a>
           <a class="kt-btn kt-btn-icon" data-kt-tab-toggle="#projects_list" href="#">
            <i class="ki-filled ki-row-horizontal">
            </i>
           </a>
          </div>
         </div>
         <!-- end: toolbar -->
         <!-- begin: cards -->
         <div id="projects_cards">
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 lg:gap-7.5">
            {% for home in homes %}
                <div class="kt-card home-item">
                    <div class="kt-card-content grid gap-7 py-7.5">
                    <div class="grid place-items-center gap-4">
                    <div class="flex justify-center items-center size-14 rounded-full ring-1 ring-input bg-accent/60">
                    <i class="ki-filled ki-ghost text-2xl text-muted-foreground">
                    </i>
                    </div>
                    <div class="grid place-items-center">
                    <a class="text-base font-medium text-mono hover:text-primary mb-px" href="#">
                        {{ home.name }}
                    </a>
                    <span class="text-sm text-secondary-foreground text-center">
                        {{ home.owner }}
                    </span>
                    </div>
                    </div>
                    <div class="grid">
                    <div class="flex items-center justify-between flex-wrap mb-3.5 gap-2">
                    <span class="text-xs text-secondary-foreground uppercase">
                        House Number/Squad
                    </span>
                    <div class="flex flex-wrap gap-1.5">
                        <span class="kt-badge kt-badge-outline">
                        {{ home.number }}
                        </span>
                        <span class="kt-badge kt-badge-outline">
                        {{ home.squad.name }}
                        </span>
                    </div>
                    </div>
                    <div class="border-t border-input border-dashed">
                    </div>
                    <div class="flex items-center justify-between flex-wrap my-2.5 gap-2">
                    <span class="text-xs text-secondary-foreground uppercase">
                        Members
                    </span>
                    <div class="kt-rating">
                        <span class="kt-badge kt-badge-outline">
                        {{ home.members.count }} Members
                        </span>
                    </div>
                    </div>
                    <div class="border-t border-input border-dashed mb-3.5">
                    </div>
                    <div class="flex items-center justify-between flex-wrap gap-2">
                    <span class="text-xs text-secondary-foreground uppercase">
                        memebers
                    </span>
                    <div class="flex -space-x-2">
                        {% for member in home.members.all %}
                            <div class="flex">
                                <span class="relative inline-flex items-center justify-center shrink-0 rounded-full ring-1 font-semibold leading-none text-2xs size-7 text-white ring-background bg-green-500 kt-tooltip kt-tooltip-light" data-kt-tooltip-content="true" data-kt-tooltip-placement="top" title="{{ member.full_name }}">
                                {{ member.full_name|slice:":1" }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="kt-card-footer justify-center">
                    <a class="kt-btn kt-btn-outline">
                    <i class="ki-filled ki-check-circle">
                    </i>
                    Add Member
                    </a>
                    </div>
                </div>
            {% endfor %}
          </div>
         </div>
         <!-- end: cards -->
         <!-- begin: list -->
         <div class="hidden" id="projects_list">
          <div class="flex flex-col gap-5 lg:gap-7.5">
            {% for home in homes %}
                <div class="kt-card p-7.5">
                    <div class="flex flex-wrap justify-between items-center gap-7">
                    <div class="flex items-center gap-4">
                    <div class="flex justify-center items-center size-14 shrink-0 rounded-full ring-1 ring-input bg-accent/60">
                    <i class="ki-filled ki-ghost text-2xl text-muted-foreground">
                    </i>
                    </div>
                    <div class="grid grid-col gap-1">
                    <a class="text-base font-medium text-mono hover:text-primary mb-px" href="#">
                        {{ home.name }}
                    </a>
                    <span class="text-sm text-secondary-foreground">
                        {{ home.owner }}
                    </span>
                    </div>
                    </div>
                    <div class="flex flex-wrap items-center gap-6 lg:gap-12">
                    <div class="grid gap-5 justify-end lg:text-end">
                    <span class="text-xs text-secondary-foreground uppercase">
                        skills
                    </span>
                    <div class="flex gap-1.5">
                        <span class="kt-badge kt-badge-outline">
                        Ul
                        </span>
                        <span class="kt-badge kt-badge-outline">
                        DevOps
                        </span>
                    </div>
                    </div>
                    <div class="grid justify-end gap-6 lg:text-end">
                    <div class="text-xs text-secondary-foreground uppercase">
                        rating
                    </div>
                    <div class="kt-rating">
                        <div class="kt-rating-label checked">
                        <i class="kt-rating-on ki-solid ki-star text-base leading-none">
                        </i>
                        <i class="kt-rating-off ki-outline ki-star text-base leading-none">
                        </i>
                        </div>
                        <div class="kt-rating-label checked">
                        <i class="kt-rating-on ki-solid ki-star text-base leading-none">
                        </i>
                        <i class="kt-rating-off ki-outline ki-star text-base leading-none">
                        </i>
                        </div>
                        <div class="kt-rating-label checked">
                        <i class="kt-rating-on ki-solid ki-star text-base leading-none">
                        </i>
                        <i class="kt-rating-off ki-outline ki-star text-base leading-none">
                        </i>
                        </div>
                        <div class="kt-rating-label checked">
                        <i class="kt-rating-on ki-solid ki-star text-base leading-none">
                        </i>
                        <i class="kt-rating-off ki-outline ki-star text-base leading-none">
                        </i>
                        </div>
                        <div class="kt-rating-label checked">
                        <i class="kt-rating-on ki-solid ki-star text-base leading-none">
                        </i>
                        <i class="kt-rating-off ki-outline ki-star text-base leading-none">
                        </i>
                        </div>
                    </div>
                    </div>
                    <div class="grid justify-end gap-3.5 lg:text-end lg:min-w-24 shrink-0 max-w-auto">
                    <span class="text-xs text-secondary-foreground uppercase">
                        memebers
                    </span>
                    <div class="flex -space-x-2">
                        {% for member in home.members.all %}
                            <div class="flex">
                                <span class="relative inline-flex items-center justify-center shrink-0 rounded-full ring-1 font-semibold leading-none text-2xs size-7 text-white ring-background bg-green-500 kt-tooltip kt-tooltip-light" data-kt-tooltip-content="true" data-kt-tooltip-placement="top" title="{{ member.full_name }}">
                                {{ member.full_name|slice:":1" }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                    <div class="grid justify-end min-w-20">
                    <a class="kt-btn kt-btn-outline">
                        <i class="ki-filled ki-check-circle">
                        </i>
                        Joined
                    </a>
                    </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
          </div>
         </div>
         <!-- end: list -->
        </div>
        <!-- end: projects -->
       </div>

<div class="kt-modal" data-kt-modal="true" id="bulkmodal">
    <div class="kt-modal-content max-w-[300px] top-[10%]">
      <div class="kt-modal-header">
        <h3 class="kt-modal-title">Modal Title</h3>
        <button
          type="button"
          class="kt-modal-close"
          aria-label="Close modal"
          data-kt-modal-dismiss="#modal"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-x"
            aria-hidden="true"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <div class="kt-modal-body">
        <form class="flex flex-col gap-5" action="/upload/home/_bulk/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="file" class="kt-input" name="file" />
            <button type="submit" class="kt-btn kt-btn-primary w-full">Upload</button>
            <div class="rounded-lg bg-muted w-full grow mt-5 h-[175px]"></div>
        </form>
    </div>
  </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('home_search');
        
        searchInput.addEventListener('input', function (e) {
            input = e.target.value;
            const searchTerm = input.toLowerCase();
            const homes = document.querySelectorAll('.home-item');
            
            console.log('Search input changed:', searchTerm);
            homes.forEach(home => {
                // Get text from Name, Owner, and House Number for a thorough search
                const textContent = home.innerText.toLowerCase();
                
                if (textContent.includes(searchTerm)) {
                    home.classList.remove('hidden');
                    // If it's the list view, we need to ensure we don't conflict 
                    // with the parent "hidden" state, but usually, just removing hidden works.
                    home.style.display = ''; 
                } else {
                    home.style.display = 'none';
                }
            });
        });
    });
</script>
{% endblock %}